#desktop__navbar {
  display: flex;
  cursor: pointer;
}
#desktop__navbar li {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 0.6rem 2rem 0.6rem 1rem;
  text-align: start;
}
#desktop__navbar li:last-child {
  background-color: rgb(251 191 36);
  text-align: center;
  flex: 1;
}
#desktop__navbar li:hover {
  background-color: rgb(234, 108, 50);
}
